body {
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.gradient1, .gradient2, .gradient3 {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  animation: pulse 6s infinite ease-in-out;
}

.gradient1 {
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(123,202,255,1) 0%, rgba(123,202,255,0) 70%);
  top: -50px;
  left: -50px;
}

.gradient2 {
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(255,123,172,1) 0%, rgba(255,123,172,0) 70%);
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
}

.gradient3 {
  width: 250px;
  height: 250px;
  background: radial-gradient(circle, rgba(185,123,255,1) 0%, rgba(185,123,255,0) 70%);
  bottom: -50px;
  left: 20%;
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
